.App {
  font-family: Calibri, "Trebuchet MS", sans-serif;
}
.header {
  margin: -10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: lightgreen;
}
.logo {
  padding: 6px;
  width: 47px;
}

.tweets {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 40px;
}

.postit {
  background-color: #edf1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 400px;
  border-radius: 7px;
  padding: 10px;
}
.naslov {
  font-family: Helvetica, sans-serif;
  color: rgb(109, 124, 138);
  margin-top: 45px;
}
.userimage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.bodynphoto {
  display: flex;
  flex-direction: row;
}
.usernamenbody {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.username-post a {
  text-decoration: none;
  color: rgb(5, 5, 93);
  font-weight: bold;
  font-size: 15px;
}
.postit-body {
  margin-top: 10px;
}
.likedelete {
  display: flex;
  align-self: flex-end;
}
.biguserimage {
  width: 150px;
  height: 150px;
}
.positisubmit {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 10px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 5px 9px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}
.positisubmit:hover {
  background: linear-gradient(to bottom, #5680b4 5%, #5d739c 100%);
  background-color: #5981b3;
}
.positisubmit:active {
  position: relative;
  top: 1px;
}
.slikaibio {
  display: flex;
  flex-direction: column;
}

.postitcomp {
  display: flex;
  flex-direction: column;
}
.positisubmit {
  align-self: flex-end;
  margin-top: 5px;
}

.prijavise {
  cursor: pointer;
  margin-right: 10px;
}

.registrirajse {
  cursor: pointer;
}
.loginform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.signinform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.email-login {
  width: 250px;
  padding: 5px;
}
.password-login {
  width: 250px;
  padding: 5px;
  margin-top: 20px;
}

.confirmPassword-login,
.username-login {
  width: 250px;
  padding: 5px;
  margin-top: 20px;
}

.prijavise-login {
  margin-top: 20px;
}

.error-popup {
  color: red;
  font-size: 14px;
}
.mogucnost-registracije {
  margin-top: 20px;

  display: flex;
  justify-content: center;
}
.profile-button {
  display: flex;
  flex-direction: column;
}
.profile-button a {
  text-decoration: none;
}

.main-title {
  margin-top: 145px;
  color: rgb(71, 70, 70);
}
.profile-login-btn {
  box-shadow: -1px 1px 0px -6px #9fb4f2;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #7786b0;
  display: inline-block;
  cursor: pointer;
  color: #747396;
  font-family: Arial;
  font-size: 15px;
  padding: 5px 30px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #97a3c2;
  margin-bottom: 5px;
}
.profile-login-btn:hover {
  background-color: transparent;
}
.snd-title {
  color: #7d7d7e;
}

.profile-login-btn a {
  color: rgb(94, 93, 93);
}
.profile-login-btn:active {
  position: relative;
  top: 1px;
}
.profile-signup-btn {
  -moz-box-shadow: -1px 1px 0px -6px #9fb4f2;
  -webkit-box-shadow: -1px 1px 0px -6px #9fb4f2;
  box-shadow: -1px 1px 0px -6px #9fb4f2;
  background-color: #50afc7;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #2ebbb4;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 5px 30px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #97a3c2;
}
.profile-signup-btn:hover {
  background-color: #71c2bb;
}
.profile-signup-btn:active {
  position: relative;
  top: 1px;
}
.profile-signup-btn a {
  color: white;
}

.profile-username {
  color: #7892c2;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1045px) {
  .main-title {
    font-size: 25px;
  }
  .snd-title {
    font-size: 15px;
  }
}
@media only screen and (max-width: 985px) {
  .main-title {
    font-size: 22px;
  }
  .snd-title {
    font-size: 14px;
  }
}

@media only screen and (max-width: 920px) {
  .main-title {
    font-size: 20px;
  }
  .snd-title {
    font-size: 14px;
  }
}

@media only screen and (max-width: 850px) {
  .naslovnica-right {
    display: none;
  }
}

@media only screen and (max-width: 535px) {
  .grid {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 475px) {
  .grid {
    margin-left: 2px;
  }
}
@media only screen and (max-width: 445px) {
  .postit {
    width: 350px;
  }
}
@media only screen and (max-width: 405px) {
  .postit {
    width: 330px;
  }
}
@media only screen and (max-width: 381px) {
  .postit {
    width: 300px;
  }
}
@media only screen and (max-width: 351px) {
  .postit {
    width: 275px;
  }
}
@media only screen and (max-width: 325px) {
  .postit {
    width: 260px;
  }
}
@media only screen and (max-width: 310px) {
  .postit {
    width: 240px;
  }
}
